version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    networks:
      - vault-network
    volumes:
      - mongodb-data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}

  backend:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: backend
    networks:
      - vault-network
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=${MONGO_URI}
      - PORT=${PORT}
      - NODE_ENV=interactive
    depends_on:
      - mongodb
    volumes:
      - backend-logs:/app/logs

networks:
  vault-network:
    driver: bridge

volumes:
  mongodb-data:
  backend-logs:
